$desktop-widht: 1140px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  margin: 0;
}
.cards {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header {
  background-color: #222;
  min-height: 75px;
  align-content: center;

  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
  }
  &-nav {
    background-color: #fff;
    display: none;
    width: 232px;
    position: absolute;
    right: 0;
    top: 75px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 0 17px 0 35px;
    height: 764px;

    &-post {
      list-style-type: none;
    }
    &-item {
      list-style-type: none;
      font-size: 14px;
      line-height: 17px;
      color: #f16d7f;
      margin: 0px 0 20px 0;
    }
    &-button {
      position: absolute;
      top: -9px;
      right: 0;
      background: #ffffff;
      border: none;
    }
  }
  &-box {
    position: relative;
  }
  &-menu {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 37px 0 24px 0;
  }
  &-list {
    font-size: 14px;
    line-height: 17px;
    color: #6f6e6e;
    margin: 11px 0 11px 20px;
  }
  &-svg {
    fill: #575757;
    &:hover {
      fill: $paint;
    }
    &:active {
      fill: #b4b7b9;
    }
  }
}
.head-svg {
  fill: #ffffff;
  &:hover {
    transform: scale(1.2);
    transition: 0.4s;
    fill: $paint;
  }
  &:active {
    fill: #5f5f5f;
  }
}
.head-catalog {
  background-color: #f8f3f4;
  min-height: 148px;
}
.header-right-logo,
.header-left-logo {
  margin-right: 20px;
}
.wrap {
  max-width: $desktop-widht;
  margin: 0 auto;
}
#menu {
  display: none;
}
#menu:checked ~ .header-nav {
  display: block;
}
.header-nav {
  z-index: 100;
}
